h1{
    font-family: "century gothic";
    color:rgba(165, 42, 42, 0);
    text-align: center;

    animation-name: titulo;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes titulo{
    from{
        color: rgba(165, 42, 42, 0);
    }
    to{
        color: rgba(165, 42, 42, 1);
    }
}

p{
    text-align: center;
    font-family: "century gothic";
    font-weight: bold;

    animation-name: texto;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 3s;
}

@keyframes texto{
    from{
        color:rgba(0,0,0,0);
    }
    to{
        color:rgba(0,0,0,1);
    }
}

img{
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    opacity: 0;

    animation: imagen 3s 6s 1 forwards;
}

@keyframes imagen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

a{
    position: fixed;
    top: 400px;
    right: 900px;

    padding: 10px 40px;
    background-color: blue;
    border: 3px solid blue;
    border-radius: 40px;

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

a:hover{
    background-color: darkblue;
}