body {
    background-color: rgb(248, 185, 48);
    background-image: url('img/fondo.webp');
    font-family: Arial, sans-serif;
    padding: 30px;
}

@keyframes brillo {
    0%, 100% {
        color: black;
    }

    50% {
        color: yellow;
        text-shadow: 0 0 15px black, 0 0 30px yellow;
    }
}

h1 {
    text-align: center;
    animation: brillo 1.5s infinite;
    color: white;
}

a {
    display: block;
    width: 220px;
    padding: 10px 20px;
    margin: 15px auto;

    background-color: blue;
    border: 2px solid blue;
    border-radius: 20px;

    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
}

a:hover {
    background-color: darkblue;
}